#autocomplete-results {
    opacity: 0;
    color: #8B8D90;
    background: #FFFFFF;
    border: 1px solid #E2E8EE;
    font-size: 20px;
    margin: 10px 0 0 0;
    padding: 0;
}

    #autocomplete-results li {
        list-style: none;
        padding: 1em;
    }

        #autocomplete-results li.highlighted {
            background-color: #E2E8EE;
            color: #5E6063;
        }

#autocomplete-results.visible {
    opacity: 1;
}