<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body>
    <header style="color:#7db46cff">
        <nav class="navbar navbar-expand-lg navbar navbar-light sticky-sm-top" style="background-color: rgb(222, 245, 182)">
            <div class="container" >
              <a class="navbar-brand" href="index.html">RandomShop</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="products.html">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contact.html">Contact</a>
                </ul>
                <div class="nav-item">
                    <a class="nav-link" style="color:black" aria-current="page" href="shoppingcard.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg> Shoppingcard
                    </a>
                </div>
              </div>
            </div>
          </nav>
    </header>


<main class="my-5">
  <div class="container">
    <div class="row">
  <h1 class="text-center">Contact Us</h1>
  <p class="lead text-center">How can we help you?</p>
  <span class="border rounded" style="background-color: #ABD6DFFF">
  <form class="my-3 was-validated" style="background-color: #ABD6DFFF">

    <div class="mb-3">
      <label for="InputEmail" class="form-label">Name</label>
      <input type="name" class="form-control is-invalid" id="name" required>
      <div class="invalid-feedback">
        Please enter your name.
        </div>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input type="text" class="form-control is-invalid" id="country" name="country"required>
      <ul id="autocomplete-results"></ul>
      <div class="invalid-feedback">
        Please enter your country.
        </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control is-invalid" id="exampleInputEmail1" required>
      <div class="invalid-feedback">
        Please enter your email address.
        </div>
    </div>

    <label for="message1" class="form-label">Message</label>
    <div class="mb-3">
    <textarea class="form-control is-invalid" id="validationTextarea" cols="80" rows="10" required></textarea>
    <div class="invalid-feedback">
      Please enter a message.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      <a href="thankyou.html" style="color:white" class="text-decoration-none">Submit</a></button>
    </form>
</span>
</div>
</div>
</main>


<footer class="bg-dark text-center text-white mt-auto">
  <div class="container p-4">
  
      <p> <a href="#" style="color:white" class="text-decoration-none">Cookies | </a> 
        <a href="#"  style="color:white" class="text-decoration-none">Privacy |</a> 
        <a href="#" style="color:white"  class="text-decoration-none">Disclaimer</a>
      </p>
 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Made by: Marissa 
  </div>
</footer>
<script src= "{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous">
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous">
</script>

</body>
</html>